<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Brunnylol</title>
        <style type="text/css" media="screen">
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
        </style>
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
    <div class="footer">
        <p>Jacob Rodal © 2020</p>
    </div>
</html>

